html {
    background: url("background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 660;
    color: #002633;
  }
  
  .grid-container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    box-align: center;
    max-width: 300px;
    text-align: center;
    padding: 1.25rem;
    min-width: 0;
    background: linear-gradient(to bottom right, #ffffff, #ffffff, #f3e490);
    border: 0;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .grid-item {
    padding: 10px;
    text-align: center;
    font-size: 30px;
  }
  
  .grid-item-small {
    font-weight: 100;
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
  
  .grid-bar {
    font-size: 15px;
    margin-bottom: 1rem;
  }
  
  .grid-bar input {
    height: auto;
    border-radius: 2rem;
  }
  
  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
  }
  
  .btn-google {
    color: #ffffff;
    background-color: #ea4335;
    background: linear-gradient(to right, #a10606, #e9581f);
  }
  
  .btn-primary {
    color: #ffffff;
    border-color: #007bff;
    background: linear-gradient(to right, #03316e, #33aeff);
  }
  
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn:hover {
    color: #fff;
    border-color: #ccd9df;
  }
  
  .form-control {
    width: 90%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
